@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap');

html {
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
}

.container {
  margin: 0 auto;
}

.navigation-bar {
  padding: 1.6rem 11.2rem 1.6rem 11.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo img {
  height: 7rem;
}

.nav-links {
  display: flex;

  font-family: inherit;

  font-size: 1.8rem;
  font-weight: 600;
}

.nav-link a:link,
.nav-link a:visited {
  padding: 1.2rem 2.4rem;
  color: #003882;
  text-decoration: none;
}

.nav-link a:hover,
.nav-link a:active {
  color: #003882;
  background-color: #eee;
}

.secondary-nav {
  padding: 0 11.2rem;
  background-color: #003882;
  display: flex;
  border-bottom: solid 2px #fff;
}

.secondary-nav-link {
  display: flex;
  gap: 0.6rem;
  align-items: center;
}

.secondary-nav-link img {
  display: inline;
  height: 1rem;
  width: 1rem;
  filter: invert(100%) sepia(0%) saturate(25%) hue-rotate(70deg)
    brightness(108%) contrast(108%);
}

.secondary-nav-link:hover .dropdown-icon {
  transform: rotate(180deg);
}

.secondary-nav-link:link,
.secondary-nav-link:visited {
  color: #fff;
  font-weight: 400;
  text-decoration: none;
  font-size: 1.8rem;
  padding: 1.6rem 2rem;
}

.secondary-nav-link:hover,
.secondary-nav-link:active {
  color: #fff;
  font-weight: 400;
  text-decoration: none;
  background-color: #4776aa;
}

.section-hero {
  position: relative;
  margin-bottom: 16rem;
}

.hero-overlay {
  max-width: 70rem;
  background-color: #ffcc33;
  padding: 4.2rem 6rem;

  background-image: url(/img/Homepage/alumni-hero-bg.png);
  background-repeat: no-repeat;

  transform: translate(-50%, -50%);

  position: absolute;
  top: 90%;
  left: 30%;
}

.hero-overlay h1 {
  font-size: 2.4rem;
  color: #363230;
  font-family: 'Merriweather', serif;
  padding-bottom: 1.6rem;
}

.hero-overlay p {
  font-size: 1.6rem;
  color: #363230;
}

.learn-more-hero-icon {
  height: 3.2rem;
  filter: invert(16%) sepia(9%) saturate(453%) hue-rotate(335deg)
    brightness(96%) contrast(87%);
}

.learn-more-hero:link,
.learn-more-hero:visited {
  color: #363230;
  font-size: 1.8rem;
  letter-spacing: 1.5px;
  font-weight: 500;

  display: inline-flex;
  flex-shrink: 1;
  align-items: center;
  gap: 1.6rem;
  text-decoration: none;
  padding-top: 2.4rem;
  border-bottom: 2px solid #ffcc33;
}

.learn-more-hero:hover,
.learn-more-hero:active {
  border-bottom: 2px solid #363230;
}
.cards {
  display: flex;
  padding: 0 11.2rem;
  gap: 3.2rem;
  max-width: 140rem;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: #eee;
  position: relative;
}

.card-img {
  height: 25rem;
}

.card h2 {
  font-family: 'Merriweather', serif;
  font-size: 1.8rem;
  padding-top: 2.4rem;
  padding-right: 2.4rem;
  padding-left: 2.4rem;
  font-weight: 600;
  color: #363230;
  position: relative;
}

.card h2:after {
  position: absolute;
  content: '';
  height: 2px;
  width: 20%;
  background-color: #ffcc33;
  margin-left: 15px;
  top: 120%;
  left: 3%;
}

.cards p {
  padding-top: 2.4rem;
  font-size: 1.6rem;
  padding-right: 2.4rem;
  padding-left: 2.4rem;
  color: #363230;
}

.card a:link,
.card a:visited {
  font-weight: 500;
  padding-top: 2.4rem;
  font-size: 1.6rem;
  padding-right: 2.4rem;
  padding-left: 2.4rem;
  color: #003882;
  letter-spacing: 1.8px;
  text-decoration: none;

  padding-bottom: 2.4rem;
}

.card a:hover,
.card a:active {
  text-decoration: underline;
}
